* {
    box-sizing: border-box;
    font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer";
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}

h2,
h1 {
    margin: 2px;
    padding: 8px;
}

.header {
    grid-area: header;
    color: white;
    margin-bottom: 10px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    overflow: hidden;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}

.main-container {
    grid-area: main;
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "c-part" "o-part";
}

@media (min-width: 960px) {
    .main-container {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "c-part o-part";
    }
    .code-part {
        margin-left: 8px;
    }
    .output-part {
        margin-right: 8px;
    }
}

.code-body,
.output-body {
    height: 90%;
    padding: 8px;
    margin: 0 4px 0 4px;
    border: 2px solid purple;
    background-color: white;
    border-radius: 8px;
}

textarea {
    resize: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 8px;
}

.output-body {
    width: 100%;
}

iframe {
    border: none;
}

.code-title,
.output-title {
    color: white;
    display: flex;
}

.btn {
    width: 100px;
    padding: 0;
    margin: 4px 0 4px 0;
    background-color: #31B0D5;
    border-radius: 4px;
    border-color: #46b8da;
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px #000;
}

.code-part {
    grid-area: c-part;
    margin: 0 8px 0 8px;
}

.output-part {
    grid-area: o-part;
    margin: 0 14px 0 8px;
}

.footer {
    grid-area: footer;
    height: 24px;
}

.control {
    position: fixed;
    left: 5px;
}

.home,
.control {
    background-color: #31B0D5;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
    bottom: -2px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 2px 2px #000;
}

.home {
    position: fixed;
    right: 5px;
}